<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<title>Tiny App</title>

<!-- Load CSS -->
<link rel="stylesheet" href="/css/home.css" type="text/css"/>
<!-- Load the font family -->
<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
