<!-- views/partials/header.ejs -->

<nav class="navbar">
  <div class="app-title">
    tinyapp
  </div>
  <ul class="navigations">
    <li><a href="/">URL Index</a></li>
    <li><a href="/urls/new">Create New ShortURL</a></li>
  </ul>
</nav>
