<!-- views/partials/header.ejs -->

<nav class="navbar">
  <div class="app-title">
    tinyapp
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/">URLs Index</a></li>
    <li><a href="/urls/new">Create New shortURL</a></li>
  </ul>
</nav>
